body {
  background: rgb(240, 236, 236);
}
.container {
  min-width: 750px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  position: relative;
  background: white;
  width: 280px;
  height: 350px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 2px 5px 8px rgba(black, .2);
  overflow: hidden;
  transition: ease;
  &:hover {
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: 5px 8px  10px rgba(black, .2);
  }
}

h1 {
  color:white;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 800;
  line-height: .75em;
  margin: 50px 0 10px 10px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);

}

p {
  font-size: 0.75em;
  line-height: 1.4em;
  font-family: body;
  color:black;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 180px 25px 0 10px;
}
.dark {
  background: pink;
}
.seattle {
  opacity: .7;
  height: 100%;
  margin-left: -120%;
}

.title {
  position: absolute;
  top: 0;
  color: white;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}
.accent-line {
  height: 7px;
  width: 100%;
  margin-bottom: 15px;
}
.green {
  background:black;
  position: absolute;
  top: 27%;
}
.pink {
  background: rgb(168, 65, 65);
}
.pink2 {
  background: #8b2e2e;
}
.pink3 {
  background: #2b2929;
}

.btn {
  position: absolute;
  bottom: 30px;
  left: 25px;
  padding: 14px;
  border-radius: 5px;
  outline: 0;
  font-family: body;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: black;
  border: 0;
  color:white;
  box-shadow: 2px 2px 5px rgba(black, .5);
  transition: ease;
  &:hover {
    background:white;
    color:black;
    cursor: pointer;
    transition: ease;
    transform: scale(1.04);
  }
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  font-family: body;
  p {
    color: green;
    letter-spacing: 2px;
  }
  a {
    color: black;
    text-decoration: none;
    transition: ease;
    padding: 3px;
    &:hover {
      background: green;
      color: white;
    }
  }
}